.search {
    display: inline-block;
    width: 80%;
    margin-left: 5rem;
    text-align: center;
    margin-top: 8rem;
}

.search-bar {
    width: 50%;
    height: 2.5rem;
    border-radius: .3rem;
}

.search-container {
    background-color: #212529;
    padding: 5rem;
    border-radius: 1rem;
}

.search-container p {
    color: white;
    font-size: 1.5rem;
}

.submit-button {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.submit-button:hover {
    box-shadow: 0 0 10px 5px rgba(9, 81, 108);
    border: none;
}

button {
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}