img {
    border-radius: .5rem;
    margin-bottom: .5rem;
}

.gallery-results p {
    padding-bottom: 5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}