body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}